<span *ngIf="loading">Loading, please wait...</span>
<span *ngIf="!visible && !loading">Please log in or register to view the forecast</span>

<div *ngIf="visible">
    <button class="btn btn-light" (click)="refreshForecast()">Refresh</button>
    <table>
        <tr>
            <th>Date</th>
            <th>State</th>
            <th></th>
        </tr>
        <tr id="list" *ngFor="let item of forecastList.consolidated_weather">
            <td>{{item.applicable_date}}</td>
            <td>{{item.weather_state_name}}</td>
            <td class="imgCell"><img
                src="https://www.metaweather.com/static/img/weather/png/{{item.weather_state_abbr}}.png"
                width="40px"
                height="40px">
            </td>
        </tr>
    </table>
</div>